.body {
	font-family: Open Sans;
}

.header {
	background-image: url(../img/header-background.jpg);
	background-size: 100%;
	font-family: sans-serif;
	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

.header-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #313131;
}

.header-nav-left {
	display: flex;
	align-items: center;
}

.logo {
	margin: 22px 27px 21px 27px;
}

.logo-text {
	color: white;
	margin-left: 27px;
	text-decoration: none;
	font-weight: 700;
}

.head-menu {
	text-transform: uppercase;
}

.head-menu-list {
	display: flex;
	justify-content: center;
	align-items: center;
}

.head-menu-link {
	text-decoration: none;
	color: white;
	margin: 28px 35px 26px 0px;
	font-size: 15px;
}

.head-menu-link:hover {
	color: #14b9d5;
}

.serch-btm {
	height: 70px;
	width: 68px;
	background-color: black;
	border: 0px;
	cursor: pointer;
}

.fa {
	color: white;
	width: 17px;
	height: 17px;
}

.header-title {
	margin: 164px 0px 44px 0px;
	color: white;
	font-size: 27px;
	font-weight: 700;
}

.centr-btm {
	display: flex;
	justify-content: center;
}

.btm {
	font-size: 18px;
	font-weight: 600;
	border: 0px;
	border-radius: 5px;
	color: white;
	width: 170px;
	height: 55px;
	margin: 44px auto 74px auto;
	cursor: pointer;
}

.btn-green {
	background-color: #89ca62;
	margin-right: 20px;
}

.btn-blue {
	background-color: #14b9d5;
}

.main {
	background-color: #f2f2f2;
	text-align: center;
}

.section-post {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.blue-title {
	color: #18b4cf;
	text-transform: uppercase;
	font-size: 27px;
	font-weight: bold;
}

.main-section-post-title {
	margin: 49px auto 52px auto;
}

.main-post-pic-block {
	display: flex;
	justify-content: space-between;
	width: 1170px;
}

.main-post-pic-text {
	display: block;
	font-size: 18px;
	line-height: 25px;
	color: #353a3d;
	background-color: white;
	font-weight: 700;
	padding-top: 22px;
	padding-bottom: 22px;
}

.section-client {
	background-image: url(../img/main/section-client/bckclient.jpg);

	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

.main-section-client-title {
	font-weight: 700;
	font-size: 32px;
	padding-top: 106px;
	color: white;
	text-transform: uppercase;
}

.main-section-client-title::after {
	content: " ";
	display: block;
	border-top: 3px solid #18b4cf;
	width: 60px;
	margin: 87px auto 0px auto;
}

.main-section-client {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 50px;
	align-items: center;
	width: 881px;
	margin: 106px auto 0 auto;
	padding-bottom: 191px;
}

.section-rated {
	background-color: #e5e5e5;
}

.main-section-rated {
	padding: 49px 0 52px 0;
}

.main-section-rated-box-img {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.section-news {
	background-color: rgba(0, 0, 0, 0.0001);
}

.main-section-rated-img {
	width: 100%;
}

.main-section-news {
	padding: 48px 0 51px 0;
}

.main-section-news-box-info {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 45px;
	width: 1170px;
	margin: 0 auto;
}

.gridbox1 {
	grid-column: 1 / 4;
}

.photo-left {
	float: left;
}

.gridbox3 {
	grid-column: 1 / 3;
}

.gridbox4 {
	grid-column: 3 / 5;
}

.gridbox5 {
	grid-column: 1 / 3;
}

.gridbox6 {
	grid-column: 3 / 5;
}

.gridbox8 {
	grid-column: 2 / 5;
}

.main-section-news-photo {
	background-color: rgba(0, 0, 0, 0.03);
}

.news-box-info-content {
	padding: 14px 14px 3px 13px;
	text-align: end;
}

.news-title {
	font-size: 18px;
	font-weight: 700;
	padding-bottom: 15px;
}

.news-text-info {
	font-size: 14px;
	color: #5b6469;
	font-weight: 600;

	line-height: 21px;
	padding-left: 14px;
}

.footer {
	margin-top: 77px;
	background-color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-info {
	color: white;
	padding-left: 367px;
	font-size: 13px;
}

.footer-right {
	display: flex;
	align-items: center;
	padding-right: 386px;
}
